---
---

@import "{{ site.theme }}";



@import url('https://fonts.googleapis.com/css2?family=Poiret+One&display=swap');

* {
    font-family: 'Poiret One', cursive;
}

section {
    position: relative;
}
.corner {
    width: 35px;
    height: 25px;
    position: absolute;
}

.corner.right {
    // right: -10px;
    right: -6px;
}
.corner.left {
    transform: rotate(0.75turn);
    // left: -20px;
    left: -6px;
}

.corner.top {
    // top: -10px;
    top: -1px;
}

.corner.bottom {
    bottom: -1px;
}

.corner.bottom.left {
    transform: rotate(0.5turn);
}
.corner.bottom.right {
    transform: rotate(0.25turn);
}

section,
header,
footer {
    box-shadow: 5px 5px 15px 5px #9E9E9E;
    padding: 10px;
    text-align: center;
}